
*{
    font-family: Montserrat,sans-serif;
}
.title hr{
    border-top: 3px solid black;
    width: 300px;
}
.title{
    width: 300px;
    text-align: center;
    margin-top: 80px;
    margin-left: 12%;
}

.seat-view hr{
    border-top: 3px solid black;
}
.faq hr{
    border-top: 3px solid black;
}

details {
    width: 75%;
    min-height: 5px;
    max-width: 76%;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    color: white;
    background-color: black;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
}

details + details {
    margin-top: 2.9%;
}

details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    color: black;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
    color: #96999d;
    font-weight: 300;
}

summary {
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 500;
cursor: pointer;
}

summary:focus {
outline: none; 
}

summary:focus::after {
content: "";
height: 100%;
width: 100%;
display: block;
position: absolute;
top: 0;
}

summary::-webkit-details-marker::details {
display: none
}

.control-icon {
fill: white;
transition: .3s ease;
pointer-events: none;
}

.control-icon-close {
    fill: black;
    display: none;
}

details[open] .control-icon-close {
display: initial;
transition: .3s ease;
}

details[open] .control-icon-expand {
display: none;
}

h2#faq{

    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #b0c6d5;
    border-left: none!important;
    border-right: none!important;
    color: black;
    font-weight: bold;
}

.stage-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.stage-label {
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.seat {
    width: 4.31%;
    height: 1.95%;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.seat.selected {
    background-color: green;
    color: white;
}

.ticket label{
  font-weight: bold;
  font-size: 18px;
}

.seat-map {
    display: grid;
    grid-template-columns: auto repeat(29, 1fr);
    align-items: center;
    text-align: center;
    grid-auto-columns: 10px;
    justify-items: center;
    grid-row-start:center;
}

.row-labels {
    display: contents;
}

.row-labels div {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.seat-row {
    display: contents;
}

.row-label {
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}

.seat-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat-checkbox {
    display: none;
}

.seat-number {
    display: inline-block;
    height:30px;
    width:30px;
    color: black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.seat-checkbox:checked + .seat-number {
    color: green;
}

.reserved {
    color: red;
    cursor: not-allowed;
    position: relative;
    top: -7px;
}
